<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>index</title>
</head>
<body>

	<h1>Sign up new user</h1>
	<form action="add">
		<div class="add">
			<label for="user"><b>Username</b></label> <input type="text"
				placeholder="Enter Username" name="name" required> <label
				for="password"><b>Password</b></label> <input type="password"
				placeholder="Enter Password" name="password" required>

			<button type="submit">Sign Up</button>
		</div>
	</form>
	<h1>Login with registered user</h1>
			<form action="login">
		<div class="login">
			<label for="user"><b>Username</b></label> <input type="text"
				placeholder="Enter Username" name="name" required> <label
				for="password"><b>Password</b></label> <input type="password"
				placeholder="Enter Password" name="password" required>

			<button type="submit">Login</button>
		</div>
</body>
</html>